Repository joshukraine/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-syntax-validation, abbreviations-validation, environment-validation, critical-scripts-test, markdown-validation

.pre-commit-config.yaml:

# Pre-commit hooks for dotfiles validation
# Install with: pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # Local dotfiles validation hooks
  - repo: local
    hooks:
      # Shell syntax validation
      - id: shell-syntax-validation
        name: Shell Syntax Validation
        entry: ./scripts/validate-config.sh --validator shell-syntax --ci
        language: system
        files: \.(fish|zsh|sh|bash)$
        pass_filenames: false

      # Abbreviations consistency
      - id: abbreviations-validation
        name: Abbreviations Validation
        entry: ./scripts/validate-config.sh --validator abbreviations --ci
        language: system
        files: ^(shared/abbreviations\.yaml|.*abbreviations\.(fish|zsh))$
        pass_filenames: false

      # Environment variables sync
      - id: environment-validation
        name: Environment Variables Validation
        entry: ./scripts/validate-config.sh --validator environment --ci
        language: system
        files: ^shared/environment\.(sh|fish)$
        pass_filenames: false

      # Critical scripts functionality test
      - id: critical-scripts-test
        name: Critical Scripts Test
        entry: bash -c './bin/.local/bin/run-tests --fast shell-syntax | grep -q "All tests passed" && echo "âœ“ run-tests working correctly"'
        language: system
        files: ^bin/\.local/bin/run-tests$
        pass_filenames: false

      # Markdown linting
      - id: markdown-validation
        name: Markdown Validation
        entry: ./scripts/validate-config.sh --validator markdown --fix --ci
        language: system
        files: \.md$
        exclude: ^scratchpads/
        pass_filenames: false

  # External validation tools
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: check-yaml
        exclude: ^(\.github/|.*\.md)
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^scratchpads/
      - id: trailing-whitespace
        exclude: ^scratchpads/
      - id: check-merge-conflict
      - id: check-case-conflict

      # Shell script validation
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Shellcheck integration
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        exclude: ^(scratchpads/|\.github/|.*plugins/)

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [--config-file=yamllint/.yamllint]
        exclude: ^scratchpads/

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

# Exclude patterns
exclude: |
  (?x)^(
    scratchpads/.*|
    \.git/.*|
    node_modules/.*|
    vendor/.*
  )$

docs: update slash command documentation with missing commands
  README.md
  claude/.claude/commands/help.md
Due: markdown-validation

chore: spelling updates
  spell/en.utf-8.add
  spell/en.utf-8.add.spl
Due: none

docs: enhance scratchpads setup with AI agent context guide
  claude/.claude/commands/setup-scratch.md
Due: markdown-validation

feat: add Agent OS integration commands for Claude
  claude/.claude/commands/analyze-product.md
  claude/.claude/commands/create-spec.md
  claude/.claude/commands/execute-tasks.md
  claude/.claude/commands/plan-product.md
Due: markdown-validation

fix: resolve markdown lint issues in setup-scratch command
  claude/.claude/commands/setup-scratch.md
Due: markdown-validation

refactor: convert workflow diagram to markdown table
  claude/.claude/commands/setup-scratch.md
Due: markdown-validation

style: minor grammar tweaks
  claude/.claude/commands/analyze-product.md
  claude/.claude/commands/create-spec.md
  claude/.claude/commands/execute-tasks.md
  claude/.claude/commands/plan-product.md
Due: markdown-validation

chore(nvim): update plugins
  nvim/.config/nvim/lazy-lock.json
Due: none

feat(lazyvim): enable python extra
  nvim/.config/nvim/lazy-lock.json
  nvim/.config/nvim/lazyvim.json
Due: none

fix(tmux): enable focus-events for Neovim autoread support
  tmux/.config/tmux/tmux.conf
Due: none

feat(brew): add ghostscript for PDF rendering in Neovim
  brew/Brewfile
Due: none

feat(nvim): don't jump to insert mode in commit editor
  nvim/.config/nvim/lua/config/autocmds.lua
Due: none

chore: allow all html elements
  markdown/.markdownlint-cli2.yaml
Due: none

feat: try out comic code font
  ghostty/.config/ghostty/config
Due: none

fix(ghostty): correct default config path
  ghostty/.config/ghostty/config
Due: none

fix(ghostty): update theme syntax
  ghostty/.config/ghostty/config
Due: none

docs(ghostty): output new default config
  ghostty/.config/ghostty/config-default
Due: none

fix(nvim): update plugin references for LazyVim 15
  nvim/.config/nvim/lua/plugins/extend-mason.lua
  nvim/.config/nvim/lua/plugins/extend-mini-map.lua
Due: none

chore(nvim): update plugins
  nvim/.config/nvim/lazy-lock.json
  nvim/.config/nvim/lazyvim.json
Due: none

Update shell configurations
  fish/.config/fish/config.fish
  zsh/.config/zsh/colors.zsh
  zsh/.config/zsh/plugins.zsh
  zsh/.zshrc
Due: shell-syntax-validation

chore(git): update user name and email configuration
  git/.gitconfig
Due: none

fix(zsh): move zoxide initialization to end of .zshrc
  zsh/.config/zsh/plugins.zsh
  zsh/.zshrc
Due: shell-syntax-validation

feat(abbreviations): add 'gs' as git status abbreviation
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation

feat: Add fzf-git.sh integration for enhanced git operations
  bin/fzf-git.sh
  docs/fzf-git-integration.md
  fish/.config/fish/abbreviations.fish
  fish/.config/fish/config.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
  zsh/.zshrc
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

Fix fzf-git key bindings initialization
  bin/fzf-git.sh
Due: shell-syntax-validation

feat: add fzf-git.sh sourcing to bash configuration
  bash/.bashrc
Due: none

feat: update fzf to use fd instead of rg for file searching
  shared/environment.fish
  shared/environment.sh
Due: shell-syntax-validation, environment-validation

chore(brew): remove messenger from Brewfile
  brew/Brewfile
Due: none

chore(claude): remove legacy agent OS command files
  claude/.claude/commands/analyze-product.md
  claude/.claude/commands/create-spec.md
  claude/.claude/commands/execute-tasks.md
  claude/.claude/commands/plan-product.md
Due: markdown-validation

fix(zsh): use portable path for Docker completions
  zsh/.zshrc
Due: none

feat(scripts): add single bootstrap script for fresh Mac setup
  CLAUDE.md
  README.md
  docs/setup/installation-guide.md
  scripts/bootstrap.sh
Due: shell-syntax-validation, markdown-validation
