Repository joshukraine/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-syntax-validation, abbreviations-validation, environment-validation, critical-scripts-test, markdown-validation

shell-syntax-validation:
  name: Shell Syntax Validation
  entry: ./scripts/validate-config.sh --validator shell-syntax --ci
  language: system
  pass_filenames: false

abbreviations-validation:
  name: Abbreviations Validation
  entry: ./scripts/validate-config.sh --validator abbreviations --ci
  language: system
  pass_filenames: false

environment-validation:
  name: Environment Variables Validation
  entry: ./scripts/validate-config.sh --validator environment --ci
  language: system
  pass_filenames: false

critical-scripts-test:
  name: Critical Scripts Test
  entry: bash -c './bin/.local/bin/run-tests --fast shell-syntax | grep -q "All tests passed" && echo "âœ“ run-tests working correctly"'
  language: system
  pass_filenames: false

markdown-validation:
  name: Markdown Validation
  entry: ./scripts/validate-config.sh --validator markdown --fix --ci
  language: system
  pass_filenames: false

feat(nvim): add ClaudeCode.nvim integration
  nvim/.config/nvim/lazy-lock.json
  nvim/.config/nvim/lazyvim.json
  nvim/.config/nvim/lua/plugins/extend-claudecode.lua
  nvim/.config/nvim/lua/plugins/vim-tmux-navigator.lua
Due: none

chore(nvim): spelling updates
  spell/en.utf-8.add
  spell/en.utf-8.add.spl
Due: none

chore(claude): rename help file
  claude/.claude/commands/my-help.md
Due: markdown-validation

chore: simplify CI, tests, and scripts infrastructure
  .github/workflows/performance.yml
  .github/workflows/security-quick.yml
  .github/workflows/security-scheduled.yml
  .github/workflows/test.yml
  .github/workflows/update-deps.yml
  .github/workflows/validate.yml
  scripts/lint-shell
  scripts/run-tests
  scripts/setup-git-hooks.sh
  scripts/validate-config.sh
  scripts/validators/abbreviations.sh
  scripts/validators/dependencies.sh
  scripts/validators/environment.sh
  scripts/validators/markdown.sh
  scripts/validators/shell-syntax.sh
  tests/utilities/test_finder.bats
  tests/utilities/test_g.bats
  tests/utilities/test_git_check_uncommitted.bats
  tests/utilities/test_git_cm.bats
  tests/utilities/test_gl.bats
  tests/utilities/test_glg.bats
  tests/utilities/test_gll.bats
  tests/utilities/test_postgresql.bats
  tests/utilities/test_tat.bats
Due: shell-syntax-validation

fix: replace mapfile with bash 3.2-compatible read loop in lint-shell
  scripts/lint-shell
Due: none

fix: resolve CI lint failures and update pre-commit config
  .pre-commit-config.yaml
  shared/generate-function-docs.sh
  zsh/.config/zsh/docker.sh
Due: shell-syntax-validation

fix: add blank line before list to satisfy markdown lint
  claude/.claude/commands/resolve-issue.md
Due: markdown-validation

chore(claude): clean up commands for v2 compatibility
  claude/.claude/CLAUDE.md
  claude/.claude/commands/commit-auto.md
  claude/.claude/commands/commit-msg.md
  claude/.claude/commands/commit.md
  claude/.claude/commands/context-bridge.md
  claude/.claude/commands/my-help.md
  claude/.claude/commands/new-project.md
  claude/.claude/commands/process-inbox.md
  claude/.claude/commands/resolve-issue.md
  claude/.claude/commands/review-pr.md
  claude/.claude/commands/save-knowledge.md
  claude/.claude/commands/setup-scratch.md
  claude/.claude/commands/test-drive.md
Due: markdown-validation

docs: reduce documentation bloat (~6,100 lines removed)
  CLAUDE.md
  README.md
  SECURITY.md
  docs/functions/README.md
  docs/functions/development.md
  docs/functions/function-index.md
  docs/functions/git-functions.md
  docs/functions/system.md
  docs/functions/tmux.md
  docs/setup/README.md
  docs/setup/customization.md
  docs/setup/installation-guide.md
  docs/setup/migration.md
  docs/setup/troubleshooting.md
  docs/setup/usage-examples.md
  docs/shfmt-guidelines.md
  example.rest
  scripts/README.md
  tests/README.md
  todo.md
Due: markdown-validation

chore: remove personal knowledge base (PKB) system
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  fish/.config/fish/functions/cdkb.fish
  nvim/.config/nvim/lua/plugins/knowledge-base.lua
  shared/abbreviations.yaml
  shared/environment.fish
  shared/environment.sh
  zsh/.config/zsh-abbr/abbreviations.zsh
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation, abbreviations-validation, environment-validation, markdown-validation

chore(nvim): update plugins
  nvim/.config/nvim/lazy-lock.json
Due: none

chore: remove stale references and update copyright to 2026
  .editorconfig
  LICENSE
  README.md
  bin/.local/bin/markdown-validate
  fish/.config/fish/functions/reload-abbr.fish
  shared/generate-function-docs-simple.sh
  shared/generate-function-docs.sh
Due: shell-syntax-validation, markdown-validation

chore: remove broken and duplicate markdown abbreviations
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

chore: add markdownlint-cli2 pre-commit hook
  .pre-commit-config.yaml
Due: none

chore: add markdown linting to CI workflow
  .github/workflows/test.yml
Due: none

chore: remove broken links to deleted docs
  docs/abbreviations.md
  shared/generate-abbreviations-doc.sh
Due: shell-syntax-validation, markdown-validation

chore: fix pre-existing pre-commit hook failures
  bash/.bashrc
  nerd-font-smoke-test.sh
  tmux/.config/tmux/themes/tokyonight_day.tmux
  tmux/.config/tmux/themes/tokyonight_moon.tmux
  tmux/.config/tmux/themes/tokyonight_night.tmux
  tmux/.config/tmux/themes/tokyonight_storm.tmux
  zsh/.config/zsh/colors.zsh
  zsh/.config/zsh/functions.zsh
  zsh/.config/zsh/plugins.zsh
Due: shell-syntax-validation

fix: correct descriptions for clp and clcp abbreviations
  shared/abbreviations.yaml
Due: abbreviations-validation

fix: address Copilot review comments on PR
  CLAUDE.md
  setup.sh
  tests/git_functions/test_grbm.bats
  tests/helpers/shell_helpers.bash
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation, markdown-validation

chore: update nvim plugin lock and claude code settings
  nvim/.config/nvim/lazy-lock.json
  nvim/.config/nvim/lua/plugins/extend-claudecode.lua
Due: none

chore: add Context7 and MCP to spell dictionary
  spell/en.utf-8.add
  spell/en.utf-8.add.spl
Due: none

fix: remove Docker aliases that conflict with abbreviations
  zsh/.config/zsh/docker.sh
Due: shell-syntax-validation

docs: add note about Fish shell removal to README
  README.md
Due: markdown-validation

fix: detect default branch in git-brst instead of hardcoding master
  bin/.local/bin/git-brst
Due: none

fix: guard both main and master in git-publish
  bin/.local/bin/git-publish
Due: none

chore: remove com and pum git aliases superseded by smart functions
  git/.gitconfig
Due: none

fix: remove copilot-chat extra to resolve keybinding collision
  nvim/.config/nvim/lazyvim.json
Due: none

fix: nest diff options in diff_opts table
  nvim/.config/nvim/lua/plugins/extend-claudecode.lua
Due: none

fix: keep terminal visible during diff review
  nvim/.config/nvim/lua/plugins/extend-claudecode.lua
Due: none

fix: correct dsx glob pattern to match only .DS_Store files
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

fix: replace hardcoded username with $HOME in docker completions path
  zsh/.zshrc
Due: none

feat: add PostgreSQL 17 binaries to PATH
  zsh/.zshrc
Due: none

refactor: remove diff_opts from ClaudeCode.nvim config
  nvim/.config/nvim/lua/plugins/extend-claudecode.lua
Due: none

chore: update spell dictionary
  spell/en.utf-8.add
  spell/en.utf-8.add.spl
Due: none

chore: remove commented-out legacy Rails wrapper functions
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

chore: remove duplicate src() function
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

chore: remove dead default_branch code from gpum
  tests/git_functions/test_gpum.bats
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

fix: remove fish from treesitter and fix colorscheme typo
  nvim/.config/nvim/lua/plugins/colorscheme.lua
  nvim/.config/nvim/lua/plugins/extend-treesitter.lua
Due: none

fix: remove stale comment and fix typo in aliases.zsh
  zsh/.config/zsh/aliases.zsh
Due: shell-syntax-validation

Path conditions:
  shell-syntax-validation: any of: \.(fish|zsh|sh|bash)$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  abbreviations-validation: any of: ^(shared/abbreviations\.yaml|.*abbreviations\.(fish|zsh))$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  environment-validation: any of: ^shared/environment\.(sh|fish)$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  critical-scripts-test: any of: ^bin/\.local/bin/run-tests$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  markdown-validation: any of: \.md$ and not (^scratchpads/) and not ((?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$
)
