Repository joshukraine/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-syntax-validation, abbreviations-validation, environment-validation, critical-scripts-test, markdown-validation

.pre-commit-config.yaml:

# Pre-commit hooks for dotfiles validation
# Install with: pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # Local dotfiles validation hooks
  - repo: local
    hooks:
      # Shell syntax validation
      - id: shell-syntax-validation
        name: Shell Syntax Validation
        entry: ./scripts/validate-config.sh --validator shell-syntax --ci
        language: system
        files: \.(fish|zsh|sh|bash)$
        pass_filenames: false

      # Abbreviations consistency
      - id: abbreviations-validation
        name: Abbreviations Validation
        entry: ./scripts/validate-config.sh --validator abbreviations --ci
        language: system
        files: ^(shared/abbreviations\.yaml|.*abbreviations\.(fish|zsh))$
        pass_filenames: false

      # Environment variables sync
      - id: environment-validation
        name: Environment Variables Validation
        entry: ./scripts/validate-config.sh --validator environment --ci
        language: system
        files: ^shared/environment\.(sh|fish)$
        pass_filenames: false

      # Critical scripts functionality test
      - id: critical-scripts-test
        name: Critical Scripts Test
        entry: bash -c './bin/.local/bin/run-tests --fast shell-syntax | grep -q "All tests passed" && echo "âœ“ run-tests working correctly"'
        language: system
        files: ^bin/\.local/bin/run-tests$
        pass_filenames: false

      # Markdown linting
      - id: markdown-validation
        name: Markdown Validation
        entry: ./scripts/validate-config.sh --validator markdown --fix --ci
        language: system
        files: \.md$
        exclude: ^scratchpads/
        pass_filenames: false

  # External validation tools
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: check-yaml
        exclude: ^(\.github/|.*\.md)
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^scratchpads/
      - id: trailing-whitespace
        exclude: ^scratchpads/
      - id: check-merge-conflict
      - id: check-case-conflict

      # Shell script validation
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Shellcheck integration
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        exclude: ^(scratchpads/|\.github/|.*plugins/)

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [--config-file=yamllint/.yamllint]
        exclude: ^scratchpads/

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

# Exclude patterns
exclude: |
  (?x)^(
    scratchpads/.*|
    \.git/.*|
    node_modules/.*|
    vendor/.*
  )$

chore: move analysis files to scratchpads
  claude-config-analysis.md
  claude-implementation-plan.md
Due: markdown-validation

refactor: simplify slash commands by removing complexity
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/resolve-issue.md
Due: markdown-validation

feat: implement human-in-the-loop workflow improvements
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/resolve-issue.md
Due: markdown-validation

fix: simplify commit strategy to prevent single large commits
  claude/.claude/commands/resolve-issue.md
Due: markdown-validation

feat: reintroduce --draft-pr flag for create-pr command
  claude/.claude/commands/create-pr.md
Due: markdown-validation

docs: enhance resolve-issue command integration section
  claude/.claude/commands/resolve-issue.md
Due: markdown-validation

refactor: remove agents folder
  agents/.stow-local-ignore
  agents/README.md
  agents/abbreviation-manager.md
  agents/config-manager.md
  agents/docs-helper.md
  agents/test-validator.md
Due: markdown-validation

docs: add Context7 MCP reference for external docs
  claude/.claude/CLAUDE.md
Due: markdown-validation

docs: fix CLAUDE.md file path references
  claude/.claude/commands/help.md
  claude/.claude/commands/resolve-issue.md
Due: markdown-validation

chore(nvim): update plugins
  nvim/.config/nvim/lazy-lock.json
Due: none

chore: sync Brewfile with installed packages
  brew/Brewfile
Due: none

docs: remove agent assistance callouts from troubleshooting guide
  docs/setup/troubleshooting.md
Due: markdown-validation

docs: remove specialized agent assistance section
  docs/setup/troubleshooting.md
Due: markdown-validation

docs: remove agents/ reference from stow ignore examples
  CLAUDE.md
Due: markdown-validation

feat: add Claude Code Knowledge Base environment variable
  bin/setup-knowledge-base
  claude-code-attribution-explanation.md
  claude-knowledge-base-setup.md
  claude/.claude/commands/save-knowledge.md
  context7-mcp-troubleshooting.md
  context7-workarounds.md
  fish/.config/fish/abbreviations.fish
  fish/.config/fish/functions/cdkb.fish
  shared/abbreviations.yaml
  shared/environment.fish
  shared/environment.sh
  zsh/.config/zsh-abbr/abbreviations.zsh
  zsh/.config/zsh/functions/cdkb
Due: shell-syntax-validation, abbreviations-validation, environment-validation, markdown-validation

docs: add knowledge base setup guide
  claude-knowledge-base-setup.md
Due: markdown-validation

feat: add process-inbox slash command for knowledge base
  claude/.claude/commands/process-inbox.md
Due: markdown-validation

refactor: remove research content moved to knowledge base
  claude-code-attribution-explanation.md
  claude-knowledge-base-setup.md
  context7-mcp-troubleshooting.md
  context7-workarounds.md
Due: markdown-validation

refactor: remove obsolete setup-knowledge-base script
  bin/setup-knowledge-base
Due: none

fix: remove setup-knowledge-base references from cdkb functions
  docs/abbreviations.md
  fish/.config/fish/functions/cdkb.fish
  zsh/.config/zsh/functions.zsh
  zsh/.config/zsh/functions/cdkb
Due: shell-syntax-validation, markdown-validation

refactor: simplify cdkb function and add search reminder
  fish/.config/fish/functions/cdkb.fish
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

feat: add commit-auto command and enhance commit workflow
  README.md
  claude/.claude/commands/commit-auto.md
Due: markdown-validation

fix: resolve markdown validation errors in slash commands
  claude/.claude/commands/process-inbox.md
  claude/.claude/commands/save-knowledge.md
Due: markdown-validation

Revert "feat: add commit-auto command and enhance commit workflow"
  README.md
  claude/.claude/commands/commit-auto.md
  claude/.claude/commands/commit.md
Due: markdown-validation

docs: restore CKB commands in README after commit command revert
  README.md
Due: markdown-validation

fix: remove malformed markdown code block in save-knowledge.md
  claude/.claude/commands/save-knowledge.md
Due: markdown-validation

style: auto-format save-knowledge.md after prettier formatting
  claude/.claude/commands/save-knowledge.md
Due: markdown-validation

enhance: add YAML frontmatter and auto-tagging to process-inbox command
  claude/.claude/commands/process-inbox.md
Due: markdown-validation

refactor: centralize tagging with external YAML configuration
  claude/.claude/commands/process-inbox.md
  claude/.claude/commands/save-knowledge.md
Due: markdown-validation

improve: enhance markdown config discovery and debugging
  scripts/validators/markdown.sh
Due: shell-syntax-validation

improve: enhance pre-commit auto-fix coordination
  scripts/validators/markdown.sh
Due: shell-syntax-validation

improve: enhance markdown validation debugging and reporting
  scripts/validators/markdown.sh
Due: shell-syntax-validation

test: add markdown friction reduction summary for testing
  test-commit-friction.md
Due: markdown-validation

improve: remove markdown validation from pre-commit for faster commits
  .pre-commit-config.yaml
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

chore: remove test markdown file after friction testing
  test-commit-friction.md
Due: markdown-validation

fix: resolve markdown abbreviation functionality issues
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

fix: move markdown-validate script to dotfiles for Stow management
  bin/.local/bin/markdown-validate
Due: none

docs: update markdown linting documentation post-PR-108
  README.md
  scripts/README.md
Due: markdown-validation
