Repository joshukraine/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-syntax-validation, abbreviations-validation, environment-validation, critical-scripts-test, markdown-validation

shell-syntax-validation:
  name: Shell Syntax Validation
  entry: ./scripts/validate-config.sh --validator shell-syntax --ci
  language: system
  pass_filenames: false

abbreviations-validation:
  name: Abbreviations Validation
  entry: ./scripts/validate-config.sh --validator abbreviations --ci
  language: system
  pass_filenames: false

environment-validation:
  name: Environment Variables Validation
  entry: ./scripts/validate-config.sh --validator environment --ci
  language: system
  pass_filenames: false

critical-scripts-test:
  name: Critical Scripts Test
  entry: bash -c './bin/.local/bin/run-tests --fast shell-syntax | grep -q "All tests passed" && echo "âœ“ run-tests working correctly"'
  language: system
  pass_filenames: false

markdown-validation:
  name: Markdown Validation
  entry: ./scripts/validate-config.sh --validator markdown --fix --ci
  language: system
  pass_filenames: false

docs: add new commit commands
  README.md
Due: markdown-validation

feat: restore enhanced commit commands with dual workflows
  claude/.claude/commands/commit-auto.md
Due: markdown-validation

fix: improve commit.md for Lazygit workflow
  claude/.claude/commands/commit.md
Due: markdown-validation

fix: improve commit commands for better workflow
  claude/.claude/commands/commit-auto.md
Due: markdown-validation

fix: change rg abbreviation to rgen to avoid ripgrep conflict
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation

fix: resolve markdownlint conflicts with EditorConfig
  .editorconfig
  markdown/.markdownlint.yaml
Due: none

feat: update markdown-validate to work on current directory
  bin/.local/bin/markdown-validate
  scripts/validators/markdown.sh
  shared/abbreviations.yaml
Due: shell-syntax-validation, abbreviations-validation

feat: enhance markdown validator UI with colors and improved output
  scripts/validators/markdown.sh
Due: shell-syntax-validation

feat: improve markdown linting abbreviations for better usability
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  scripts/validators/markdown.sh
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

feat: add post-commit hook to setup-git-hooks script
  .pre-commit-config.yaml
  scripts/setup-git-hooks.sh
Due: shell-syntax-validation

fix: correct git diff-index comment accuracy in post-commit hook
  scripts/setup-git-hooks.sh
Due: shell-syntax-validation

chore(nvim): update plugins
  nvim/.config/nvim/lazy-lock.json
Due: none

refactor: simplify lazygit configuration to minimal setup
  lazygit/.config/lazygit/config.yml
Due: none

feat: add datetime stamps to zsh history
  zsh/.config/zsh/aliases.zsh
  zsh/.config/zsh/functions.zsh
  zsh/.config/zsh/plugins.zsh
  zsh/.zshrc
Due: shell-syntax-validation

fix: correct fc command option in hist function
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

feat: add test-drive slash command for feature testing guides
  claude/.claude/commands/test-drive.md
Due: markdown-validation

fix: update tmuxinator session name from bf_curriculum to bfc
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

feat: add commit-msg slash command
  claude/.claude/commands/commit-msg.md
Due: markdown-validation

chore: prioritize simplicity over backward compatibility
  claude/.claude/CLAUDE.md
Due: markdown-validation

docs: clarify save-knowledge directory creation
  claude/.claude/commands/save-knowledge.md
Due: markdown-validation

docs: clarify save-knowledge directory creation
  claude/.claude/CLAUDE.md
Due: markdown-validation

refactor: rename knowledge base environment variable
  claude/.claude/commands/resolve-issue.md
  nvim/.config/nvim/lua/plugins/knowledge-base.lua
  shared/environment.fish
  shared/environment.sh
Due: shell-syntax-validation, environment-validation, markdown-validation

refactor: update cdkb functions for Personal Knowledge Base
  fish/.config/fish/functions/cdkb.fish
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

feat: update Neovim knowledge base plugin for Personal KB
  nvim/.config/nvim/lua/plugins/knowledge-base.lua
Due: none

docs: update save-knowledge command for Personal KB
  claude/.claude/commands/save-knowledge.md
Due: markdown-validation

docs: complete Personal Knowledge Base rename migration
  claude/.claude/commands/process-inbox.md
  docs/abbreviations.md
  shared/abbreviations.yaml
Due: abbreviations-validation, markdown-validation

fix: update remaining comment in zsh functions
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation

feat: improve markdownlint-cli2 ignore patterns for better directory filtering
  fish/.config/fish/abbreviations.fish
  markdown/.markdownlint-cli2.yaml
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation

chore: remove legacy .markdownlint.yaml and update all references to use .markdownlint-cli2.yaml
  README.md
  bin/.local/bin/markdown-validate
  bin/mdl-global
  docs/abbreviations.md
  markdown/.markdownlint.yaml
  nvim/.config/nvim/lua/plugins/extend-nvim-lint.lua
  scripts/README.md
  scripts/validators/markdown.sh
  shared/generate-abbreviations-doc.sh
Due: shell-syntax-validation, markdown-validation

chore: remove redundant mdl-global script
  bin/mdl-global
Due: none

fix: address markdown validation failures in PR review
  docs/functions/function-index.md
  scripts/validators/markdown.sh
Due: shell-syntax-validation, markdown-validation

fix: nest markdownlint rules under config section in cli2 format
  markdown/.markdownlint-cli2.yaml
Due: none

refactor: remove MD013 filtering workaround from markdown validator
  scripts/validators/markdown.sh
Due: shell-syntax-validation

feat(nvim): optimize blink.cmp with enhanced fuzzy matching and performance tuning
  nvim/.config/nvim/lazy-lock.json
  nvim/.config/nvim/lazyvim.json
  nvim/.config/nvim/lua/plugins/extend-blink.lua
Due: none

fix(nvim): restore cmdline path completion in blink.cmp
  nvim/.config/nvim/lua/plugins/extend-blink.lua
Due: none

chore(nvim): bye-bye cowboy for now
  nvim/.config/nvim/lua/config/keymaps.lua
Due: none

docs(lazygit): add config comments
  lazygit/.config/lazygit/config.yml
Due: none

feat(claude): add concise context-bridge slash command
  claude/.claude/commands/context-bridge.md
Due: markdown-validation

fix(claude): clarify context-bridge usage with and without description
  claude/.claude/commands/context-bridge.md
Due: markdown-validation

feat(claude): add explicit wait-for-confirmation instructions
  claude/.claude/commands/context-bridge.md
Due: markdown-validation

Path conditions:
  shell-syntax-validation: any of: \.(fish|zsh|sh|bash)$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  abbreviations-validation: any of: ^(shared/abbreviations\.yaml|.*abbreviations\.(fish|zsh))$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  environment-validation: any of: ^shared/environment\.(sh|fish)$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  critical-scripts-test: any of: ^bin/\.local/bin/run-tests$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  markdown-validation: any of: \.md$ and not (^scratchpads/) and not ((?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$
)
