Repository joshukraine/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-syntax-validation, abbreviations-validation, environment-validation, critical-scripts-test, markdown-validation

shell-syntax-validation:
  name: Shell Syntax Validation
  entry: ./scripts/validate-config.sh --validator shell-syntax --ci
  language: system
  pass_filenames: false

abbreviations-validation:
  name: Abbreviations Validation
  entry: ./scripts/validate-config.sh --validator abbreviations --ci
  language: system
  pass_filenames: false

environment-validation:
  name: Environment Variables Validation
  entry: ./scripts/validate-config.sh --validator environment --ci
  language: system
  pass_filenames: false

critical-scripts-test:
  name: Critical Scripts Test
  entry: bash -c './bin/.local/bin/run-tests --fast shell-syntax | grep -q "All tests passed" && echo "âœ“ run-tests working correctly"'
  language: system
  pass_filenames: false

markdown-validation:
  name: Markdown Validation
  entry: ./scripts/validate-config.sh --validator markdown --fix --ci
  language: system
  pass_filenames: false

refactor: improve code quality and maintainability
  agents/README.md
  agents/abbreviation-manager.md
  agents/config-manager.md
  agents/docs-helper.md
  agents/test-validator.md
  docs/functions/system.md
  fish/.config/fish/functions/gll.fish
  shared/complete-abbreviations-descriptions.sh
  shared/generate-abbreviations-doc.sh
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation, markdown-validation

feat: add Claude Code specialized sub-agents
  agents/README.md
  agents/abbreviation-manager.md
  agents/config-manager.md
  agents/docs-helper.md
  agents/test-validator.md
Due: markdown-validation

refactor: improve code quality and maintainability
  docs/functions/system.md
  fish/.config/fish/functions/gll.fish
  shared/complete-abbreviations-descriptions.sh
  shared/generate-abbreviations-doc.sh
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation, markdown-validation

feat: integrate agent references in troubleshooting documentation
  docs/setup/troubleshooting.md
Due: markdown-validation

fix: exclude agents directory from stow symlink operations
  CLAUDE.md
  agents/.stow-local-ignore
  docs/setup/troubleshooting.md
Due: markdown-validation

fix: remove outdated readlink -f compatibility restrictions for modern macOS
  .shellcheckrc
  scripts/lint-shell
Due: none

docs: improve abbreviation regeneration instructions
  docs/abbreviations.md
  shared/generate-abbreviations-doc.sh
Due: shell-syntax-validation, markdown-validation

feat: change git push abbreviation from gp to gps
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

fix: standardize prettier installation to brew in abbreviations doc generator
  shared/generate-abbreviations-doc.sh
Due: shell-syntax-validation

refactor(claude): move .claude directory into claude stow package
  claude/.claude/commands/fix-github-issue.md
  claude/.claude/commands/review-pr.md
Due: markdown-validation

feat(claude): enhance PR review command with depth options
  .claude/commands/review-pr.md
Due: markdown-validation

chore(laptop): modernize development environment setup
  laptop/.laptop.local
Due: none

fix(ghostty): add Nerd Font variants and font listing hints
  brew/Brewfile
  ghostty/.config/ghostty/config
Due: none

chore: enhance development environment with additional tools and gems
  brew/Brewfile
  laptop/.laptop.local
Due: none

docs: add Claude configuration analysis
  claude-config-analysis.md
Due: markdown-validation

feat: add /update-deps command for safe dependency management
  claude/.claude/commands/update-deps.md
Due: markdown-validation

feat: add /create-pr command for automated pull request creation
  claude/.claude/commands/create-pr.md
Due: markdown-validation

refactor: simplify fix-github-issue command with complexity modes
  claude/.claude/commands/fix-github-issue.md
Due: markdown-validation

feat: add command discovery and project initialization
  claude/.claude/commands/help.md
  claude/.claude/commands/init-project.md
  claude/CLAUDE.md
Due: markdown-validation

refactor: optimize review-pr command with simpler defaults
  claude/.claude/commands/review-pr.md
Due: markdown-validation

refactor: remove redundancy between global CLAUDE.md and commands
  claude/.claude/commands/commit.md
  claude/CLAUDE.md
Due: markdown-validation

refactor: rename /init-project to /new-project to avoid conflicts
  claude/.claude/commands/help.md
  claude/.claude/commands/new-project.md
  claude/CLAUDE.md
Due: markdown-validation

refactor: standardize command naming for consistency
  claude-implementation-plan.md
  claude/.claude/commands/fix-gh-issue.md
  claude/.claude/commands/help.md
  claude/.claude/commands/init-project.md
  claude/.claude/commands/setup-scratch.md
  claude/CLAUDE.md
Due: markdown-validation

fix: correct GitHub CLI JSON field in review-pr command
  claude/.claude/commands/review-pr.md
Due: markdown-validation

refactor: remove command aliases from help system
  claude/.claude/commands/help.md
Due: markdown-validation

refactor: simplify slash command logic with explicit defaults
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/fix-gh-issue.md
  claude/.claude/commands/help.md
  claude/.claude/commands/new-project.md
  claude/.claude/commands/update-deps.md
Due: markdown-validation

fix(spelling): add various spelling updates
  claude/.claude/commands/review-pr.md
  spell/en.utf-8.add
  spell/en.utf-8.add.spl
Due: markdown-validation

feat: improve slash command workflow reliability
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/fix-gh-issue.md
Due: markdown-validation

feat: add issue reference validation to PR reviews
  claude/.claude/commands/commit.md
  claude/.claude/commands/review-pr.md
Due: markdown-validation

docs: improve task breakdown guidance in fix-gh-issue command
  claude/.claude/commands/fix-gh-issue.md
Due: markdown-validation

feat: improve issue linking reliability in PR workflow
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/fix-gh-issue.md
Due: markdown-validation

docs: prevent issue refs in commits and standardize 'Closes' syntax
  claude/.claude/commands/commit.md
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/fix-gh-issue.md
  claude/.claude/commands/review-pr.md
  claude/CLAUDE.md
Due: markdown-validation

docs: add Claude Code integration documentation
  README.md
Due: markdown-validation

feat: add comprehensive commit checkpoint workflow
  claude/.claude/commands/fix-gh-issue.md
Due: markdown-validation

refactor: rename /fix-gh-issue to /resolve-issue
  README.md
  claude/.claude/commands/help.md
  claude/.claude/commands/resolve-issue.md
  claude/CLAUDE.md
Due: markdown-validation

refactor: move CLAUDE.md to Stow-compliant location
  claude/.claude/CLAUDE.md
Due: markdown-validation

refactor: optimize CLAUDE.md for brevity and focus
  claude/.claude/CLAUDE.md
  claude/.claude/commands/setup-scratch.md
Due: markdown-validation

fix(docs): resolve ambiguous README.md link in function index
  docs/functions/function-index.md
Due: markdown-validation

docs: add markdown code fence labeling guidelines
  claude/.claude/CLAUDE.md
Due: markdown-validation

docs: address code review feedback for command documentation clarity
  claude/.claude/commands/create-pr.md
  claude/.claude/commands/new-project.md
  claude/.claude/commands/resolve-issue.md
  claude/.claude/commands/review-pr.md
Due: markdown-validation

Path conditions:
  shell-syntax-validation: any of: \.(fish|zsh|sh|bash)$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  abbreviations-validation: any of: ^(shared/abbreviations\.yaml|.*abbreviations\.(fish|zsh))$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  environment-validation: any of: ^shared/environment\.(sh|fish)$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  critical-scripts-test: any of: ^bin/\.local/bin/run-tests$, but not: (?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$

  markdown-validation: any of: \.md$ and not (^scratchpads/) and not ((?x)^(
  scratchpads/.*|
  \.git/.*|
  node_modules/.*|
  vendor/.*
)$
)
