Repository joshukraine/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-syntax-validation, abbreviations-validation, environment-validation, markdown-validation

.pre-commit-config.yaml:

# Pre-commit hooks for dotfiles validation
# Install with: pre-commit install
# Run manually with: pre-commit run --all-files

repos:
  # Local dotfiles validation hooks
  - repo: local
    hooks:
      # Shell syntax validation
      - id: shell-syntax-validation
        name: Shell Syntax Validation
        entry: ./scripts/validate-config.sh --validator shell-syntax --ci
        language: system
        files: \.(fish|zsh|sh|bash)$
        pass_filenames: false

      # Abbreviations consistency
      - id: abbreviations-validation
        name: Abbreviations Validation
        entry: ./scripts/validate-config.sh --validator abbreviations --ci
        language: system
        files: ^(shared/abbreviations\.yaml|.*abbreviations\.(fish|zsh))$
        pass_filenames: false

      # Environment variables sync
      - id: environment-validation
        name: Environment Variables Validation
        entry: ./scripts/validate-config.sh --validator environment --ci
        language: system
        files: ^shared/environment\.(sh|fish)$
        pass_filenames: false

      # Markdown linting
      - id: markdown-validation
        name: Markdown Validation
        entry: ./scripts/validate-config.sh --validator markdown --fix --ci
        language: system
        files: \.md$
        exclude: ^scratchpads/
        pass_filenames: false

  # External validation tools
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Basic file checks
      - id: check-yaml
        exclude: ^(\.github/|.*\.md)
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
        exclude: ^scratchpads/
      - id: trailing-whitespace
        exclude: ^scratchpads/
      - id: check-merge-conflict
      - id: check-case-conflict

      # Shell script validation
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Shellcheck integration
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        exclude: ^(scratchpads/|\.github/|.*plugins/)

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.32.0
    hooks:
      - id: yamllint
        args: [--config-file=yamllint/.yamllint]
        exclude: ^scratchpads/

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit]

# Exclude patterns
exclude: |
  (?x)^(
    scratchpads/.*|
    \.git/.*|
    node_modules/.*|
    vendor/.*
  )$

fix: exclude third-party directories from shell linting
  bin/.local/bin/lint-shell
Due: none

feat(lint): add --fix functionality and prevent shfmt from breaking scripts
  .editorconfig
  .pre-commit-config.yaml
  bin/.local/bin/bb
  bin/.local/bin/bbc
  bin/.local/bin/bbcf
  bin/.local/bin/g
  bin/.local/bin/gbrm
  bin/.local/bin/git-brst
  bin/.local/bin/git-check-uncommitted
  bin/.local/bin/git-uncommit
  bin/.local/bin/gwip
  bin/.local/bin/lint-shell
  bin/.local/bin/tat
  bin/.local/bin/tka
  bin/.local/bin/tna
  docs/shfmt-guidelines.md
  tests/abbreviations/test_core_abbr.bats
  tests/git_functions/test_gbrm.bats
  tests/git_functions/test_gcom.bats
  tests/git_functions/test_gpum.bats
  tests/git_functions/test_grbm.bats
  tests/utilities/test_g.bats
  tests/utilities/test_git_check_uncommitted.bats
  tests/utilities/test_git_cm.bats
  tests/utilities/test_gl.bats
  tests/utilities/test_glg.bats
  tests/utilities/test_tat.bats
Due: markdown-validation

fix: remove -sr flag from shfmt command to match documentation
  scripts/validators/shell-syntax.sh
Due: shell-syntax-validation

docs(setup): add comprehensive setup documentation overview and installation guide
  docs/setup/README.md
  docs/setup/installation-guide.md
Due: markdown-validation

docs(setup): add comprehensive setup guides for all scenarios
  docs/setup/customization.md
  docs/setup/migration.md
  docs/setup/troubleshooting.md
  docs/setup/usage-examples.md
Due: markdown-validation

docs: integrate setup documentation with main README and CLAUDE.md
  CLAUDE.md
  README.md
Due: markdown-validation

style: standardize shell script formatting
  docs/abbreviations.md
  scripts/setup-git-hooks.sh
  scripts/validate-config.sh
  scripts/validators/abbreviations.sh
  scripts/validators/dependencies.sh
  scripts/validators/environment.sh
  scripts/validators/markdown.sh
  setup.sh
  shared/generate-abbreviations-doc.sh
  shared/generate-all-abbr.sh
  shared/generate-fish-abbr.sh
  shared/generate-function-docs-simple.sh
  shared/generate-zsh-abbr.sh
  tests/cleanup.bash
  tests/helpers/common.bash
  tests/helpers/git_helpers.bash
  tests/helpers/shell_helpers.bash
Due: shell-syntax-validation, markdown-validation

fix: resolve markdown validation errors in setup documentation
  docs/setup/customization.md
  docs/setup/migration.md
  docs/setup/troubleshooting.md
  docs/setup/usage-examples.md
Due: markdown-validation

fix: resolve critical lint-shell issues and improve macOS compatibility
  .shellcheckrc
  bin/.local/bin/gbrm
  bin/.local/bin/git-brst
  bin/.local/bin/git-check-uncommitted
  bin/.local/bin/git-uncommit
  bin/.local/bin/gwip
  bin/.local/bin/lint-shell
  bin/.local/bin/run-tests
  bin/.local/bin/tka
  docs/abbreviations.md
  tests/abbreviations/test_core_abbr.bats
  tests/git_functions/test_gbrm.bats
  tests/git_functions/test_gcom.bats
  tests/git_functions/test_gpum.bats
  tests/git_functions/test_grbm.bats
  tests/utilities/test_g.bats
  tests/utilities/test_git_check_uncommitted.bats
  tests/utilities/test_git_cm.bats
  tests/utilities/test_gl.bats
  tests/utilities/test_glg.bats
  tests/utilities/test_tat.bats
Due: markdown-validation

fix: stabilize lint-shell and run-tests with proper path resolution
  bin/.local/bin/lint-shell
  bin/.local/bin/run-tests
Due: none

fix: use absolute paths in run-tests coverage analysis
  bin/.local/bin/run-tests
  docs/abbreviations.md
Due: markdown-validation

fix: implement proper symlink resolution for run-tests script
  bin/.local/bin/run-tests
  docs/abbreviations.md
Due: markdown-validation

revert: restore working master branch version of run-tests
  bin/.local/bin/run-tests
Due: none

refactor: move test and lint scripts to scripts/ directory
  CLAUDE.md
  docs/abbreviations.md
  scripts/lint-shell
  scripts/run-tests
Due: markdown-validation

fix: prevent stow from symlinking utility directories
  docs/.stow-local-ignore
  scripts/.stow-local-ignore
  shared/.stow-local-ignore
  tests/.stow-local-ignore
Due: none

fix: resolve root filesystem search bug in run-tests script
  scripts/run-tests
Due: none

refactor: standardize DOTFILES variable loading in scripts and helpers
  scripts/lint-shell
  shared/generate-function-docs-simple.sh
  tests/helpers/shell_helpers.bash
Due: shell-syntax-validation

docs: update generated documentation timestamps
  docs/abbreviations.md
  docs/functions/function-index.md
Due: markdown-validation

fix: update test files to use DOTFILES variable consistently
  tests/abbreviations/test_core_abbr.bats
  tests/git_functions/test_gcom.bats
  tests/git_functions/test_grbm.bats
  tests/utilities/test_g.bats
Due: none

refactor: standardize DOTFILES variable in generate-function-docs.sh
  shared/generate-function-docs.sh
Due: shell-syntax-validation

docs: update abbreviations.md generation timestamp
  docs/abbreviations.md
Due: markdown-validation

fix(ci): resolve DOTFILES path detection in GitHub Actions environment
  tests/helpers/shell_helpers.bash
Due: shell-syntax-validation

refactor: improve line continuation formatting in shell_helpers.bash
  tests/helpers/shell_helpers.bash
Due: shell-syntax-validation

fix: prevent spurious timestamp updates in abbreviations.md
  shared/generate-abbreviations-doc.sh
Due: shell-syntax-validation

feat: restore shfmt with safe check/fix modes in lint-shell
  scripts/lint-shell
Due: none

fix: resolve timestamp replacement bug in generate-abbreviations-doc.sh
  docs/abbreviations.md
  shared/generate-abbreviations-doc.sh
Due: shell-syntax-validation, markdown-validation

feat: add grv abbreviation for git remote -v
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  shared/generate-zsh-abbr.sh
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

fix: add braces around variables in Zsh abbreviations
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation

feat: enhance abbreviations with meaningful descriptions
  docs/abbreviations.md
  shared/abbreviations.yaml
  shared/complete-abbreviations-descriptions.sh
  shared/generate-abbreviations-doc.sh
  shared/generate-fish-abbr.sh
  shared/generate-zsh-abbr.sh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

feat: extract gll abbreviation to shell function
  docs/abbreviations.md
  docs/functions/git-functions.md
  fish/.config/fish/abbreviations.fish
  fish/.config/fish/functions/gll.fish
  shared/abbreviations.yaml
  tests/utilities/test_gll.bats
  zsh/.config/zsh-abbr/abbreviations.zsh
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

feat: extract PostgreSQL and Finder functions from abbreviations
  docs/abbreviations.md
  docs/functions/system.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  tests/utilities/test_finder.bats
  tests/utilities/test_postgresql.bats
  zsh/.config/zsh-abbr/abbreviations.zsh
  zsh/.config/zsh/functions.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

docs: clean up abbreviations documentation and remove deprecated ASDF commands
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

feat: add new ASDF version setting abbreviations
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

fix: replace en dash bullets with standard markdown syntax
  .claude/commands/fix-github-issue.md
  .claude/commands/review-pr.md
  README.md
  SECURITY.md
  docs/abbreviations.md
  docs/functions/README.md
  docs/functions/development.md
  docs/functions/function-index.md
  docs/functions/git-functions.md
  docs/functions/system.md
  docs/functions/tmux.md
  docs/setup/README.md
  docs/setup/migration.md
  scripts/README.md
  scripts/validators/markdown.sh
  shared/generate-abbreviations-doc.sh
  tests/README.md
  tests/helpers/common.bash
  tests/utilities/test_finder.bats
  tests/utilities/test_gll.bats
  tests/utilities/test_postgresql.bats
Due: shell-syntax-validation, markdown-validation

fix: resolve BATS warnings in PostgreSQL function tests
  tests/utilities/test_postgresql.bats
Due: none

fix: resolve CI BATS warnings in PostgreSQL tests
  tests/helpers/shell_helpers.bash
  tests/utilities/test_postgresql.bats
Due: shell-syntax-validation

fix: use DOTFILES variable in PostgreSQL shell tests
  tests/utilities/test_postgresql.bats
Due: none

fix: use DOTFILES variable in Finder shell tests
  tests/utilities/test_finder.bats
Due: none

refactor: eliminate duplicate functionality between aliases and functions
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  fish/.config/fish/functions/cat.fish
  fish/.config/fish/functions/cp.fish
  fish/.config/fish/functions/l.fish
  fish/.config/fish/functions/psq.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
  zsh/.config/zsh/aliases.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation

refactor: remove duplicate abbreviations for cleaner system
  docs/abbreviations.md
  fish/.config/fish/abbreviations.fish
  shared/abbreviations.yaml
  zsh/.config/zsh-abbr/abbreviations.zsh
Due: shell-syntax-validation, abbreviations-validation, markdown-validation
